<center><h1>Edit Post</h1></center>

  <center><%= form_for @post, url: user_post_path, method: :put do |form| %>
    <div>
      <%= form.label :post %><br>
      <%= form.text_field :post %><br /><br/ >
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</center>